
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
/* header related style */
.nav-container{
  max-width:1600px;
  width: 100%;
  display: flex;
  background-color: #412567;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
}
.nav-brand{
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
}
#text-color{
   font-size: 3.5rem;
   font-weight: 700;
   background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
   -webkit-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color: transparent;
}
.nav-item a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500px;
  color: #FFFFFF;
  padding-right: 32px;
}
.btn{
  display: flex;
  gap: 5px;
  font-size: 1rem;
  font-weight: 600px;
  color: #FFFFFF;
  padding: 12px 16px;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
}
.hamburger{
  display: none;
}
hr{
  color: #40364d09;
}
/* banner related style */
.banner{
  max-width:1600px;
  width: 100%;
  background-color: #412567;
  background-image: url(../assets/hero-bg.png);
}
.banner-container{
  text-align: center;
  padding: 100px 480px;
}
.banner-image{
  max-width: 100%;
  position: relative;
}
.bg-image{
  width: 100%;
}
.top-image{
  max-width: 200px;
  width: 100%;
  position: absolute;
  left: 32%;
  bottom: 25%;
}
.badge{
  font-size: 1.25rem;
  font-weight: 800px;
  color: #1A0B2E;
  background-color: #00FF88;
  padding: 10px 20px;
  border: none;
  border-radius: 1000px;
  box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
  position: absolute;
  top: 8%;
  right: 8%;
}
.banner-title{
  font-size: 3.8rem;
  font-weight: 800px;
  color: #FFFFFF;
  padding-top: 40px;
}
.banner-description{
  font-size: 1rem;
  color: #bebcbc;
  padding: 10px 0 24px;
}
.banner-button{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 120px;
}
.btn2{
  border: 1px solid #00FF88;
  background: transparent;
  color: #00FF88;

}
/* about related style */
.About{
  max-width:1600px;
  width: 100%;
  background-color: #1A0B2E;
  padding: 0 150px;
}
.About-container{
  text-align: center;
}
.About-title{
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  padding-top: 40px;
}
.About-description{
  font-size: 1rem;
  line-height: 20px;
  color: #bebcbc;
  padding-top: 16px;
}
.About hr{
  color: #FFFFFF;
  width: 1200px;
  margin: 80px auto;
}
.About-item-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-bottom: 100px;
  justify-items: center;
}
.About-item{
  text-align: center;
}
.About-item-title{
  font-size: 3rem;
  color: #00FF88;
}
.About-item-description{
  font-size: 1rem;
  line-height: 20px;
  color: #bebcbc;
  padding-top: 16px;
}

/* about related style */
.Choose{
  max-width:1600px;
  width: 100%;
  background-color: #230E3D;
  padding: 100px 150px;
}
.Choose-title{
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 40px;
  text-align: center;
}
.Choose-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 20px;
}
.Choose-grid>*{
  border-radius: 40px;
  padding: 40px;
  background-color: #351165;
}
.c1{
  grid-column: 2/4;
}
.c2{
  grid-row: 1/3;
}
.c3{
  grid-column: 2/4;
}
.c4{
  grid-column: 1/3;
}
.Choose-grid-title{
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: 16px 0;
}
.Choose-grid-description{
  font-size: 1rem;
  color: #bebcbc;
  padding-top: 10px;
}
.c2{
  padding: 150px 40px;
}
/* Featured related style */
.Featured{
  max-width:1600px;
  width: 100%;
  background-color: #1A0B2E;
  padding: 100px 150px;
}
.Featured-title{
   font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 40px;
  text-align: center;
}
.Featured-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  justify-content: center;
  border-radius: 50px;
}
.videos{
  width: 400px;
  height: 200px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}
.card-details{
  width: 400px;
  height: 250px;
  padding: 15px;
  background-color: #351165;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card-title{
  font-size: 1.5rem;
  color: #ffffff;
}
.card-description{
  font-size: 1rem;
  line-height: 24px;
  color: #bebcbc;
  padding: 12px 0;
}
.card-duration h4{
 display: flex;
  gap: 10px;
}
/* host related style */
.host-title{
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: 100px 0 40px;
  text-align: center;
}
.host-container{
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  background-color: #351165;
  border-radius: 40px;
  display: flex;
  padding: 40px;
  gap: 24px;
  align-items: center;
}
.host-name{
  font-size: 2rem;
  font-weight: 700;
  color: #FFFFFF;
}
.host-description{
  font-size: 1rem;
  line-height: 24px;
  color: #bebcbc;
  padding: 16px 0;
}
.host-image img{
  width: 40px;
  height: 40px;
  padding: 10px;
  border:1px solid #090909;
  border-radius: 100px;
}
/* footer related style */
footer{
  max-width:1600px;
  width: 100%;
  background-image: url(../assets/footer-bg.png);
  text-align: center;
  padding: 155px 0 100px;
}
.footer-title{
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
}
.footer-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 0 380px 0 500px; 
  gap: 15px;
  padding: 30px 0;
}
.footer-container p{
  display: flex;
  gap: 10px;
  font-size: 1rem;
  font-weight: 500px;
  line-height: 24px;
  color: #bebcbc;

}
.footer-container p img{
  width: 20pz;
  height: 20px;
}
.footer-description{
  font-size: 1rem;
  line-height: 24px;
  color: #bebcbc;
}



/* media quire for small devise */
@media screen and (max-width:576px) {
  .host-container{
    flex-direction: column;
  }
  .nav-container{
    padding: 20px;
  }
  .nav-container .btn, .nav-item{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .banner-container{
    padding: 20px;
  }
  .top-image{
    width: 35%;
  }
  .banner-button{
    margin: 20px;
  }
  .About{
    padding: 20px;
  }
  .About-item-container {
    gap: 40px;
    padding: 10px;
  }
  .About hr{
    margin: 40px 20px;
    width: 300px;
  }
  .Choose {
    width: 100%;
    padding: 20px 
  }
  .c1,.c2,.c3,.c4,.c5 {
    grid-column: 1 / 3;
    margin: 0 -8px 0 5px;
  }
  .c2{
    padding: 40px;
  }
  .Featured {
    padding:20px;
  }
  .Featured-title{
    font-size: 2rem;
    padding-top: 40px;
  }
  .videos {
    width: 320px;
    margin:0 40px;
    }
  .card-details{
    width: 320px;
    margin:0 40px;
  }
  .host-details{
    text-align: center;
  }
  footer{
    padding:30px 
  }
  .footer-container{
    margin: 0 40px;
  }
  
  .About-item-container,.footer-container{
    grid-template-columns: repeat(2,1fr);
  }
  .Featured-container,.Choose-grid{
    grid-template-columns: repeat(1,1fr);
  }
  .Choose-grid {
    grid-template-columns: 300px 0 0;
    grid-template-rows: 200px;
  }
}