
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
/* share related style  */

/* header related style */
.header{
  
}
.nav-container{
  width:1600px;
  max-width: 100%;
  border: 1px solid red;
  display: flex;
  background-color: #412567;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
}
.nav-item a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500px;
  color: #FFFFFF;
  padding-right: 32px;
}
.btn{
  display: flex;
  gap: 5px;
  font-size: 1rem;
  font-weight: 600px;
  color: #FFFFFF;
  padding: 12px 16px;
  border-radius: 1000px;
  border: none;
  background-color: aqua;
}
hr{
  color: #40364d09;
}
/* banner related style */
.banner{
  width:1600px;
  max-width: 100%;
  background-color: #412567;
  background-image: url(../assets/hero-bg.png);
}
.banner-container{
  text-align: center;
  padding: 100px 480px;
}
.banner-title{
  font-size: 3.8rem;
  font-weight: 800px;
  color: #FFFFFF;
  padding-top: 40px;
}
.banner-description{
  font-size: 1rem;
  color: #c0bdbd;
  padding: 10px 0 24px;
}
.banner-button{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 120px;
}
.btn2{

}
/* about related style */
.About{
  width:1600px;
  max-width: 100%;
  background-color: #1A0B2E;
  padding: 0 150px;
}
.About-container{
  text-align: center;
}
.About-title{
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  padding-top: 40px;
}
.About-description{
  font-size: 1rem;
  line-height: 20px;
  color: #c0bdbd;
  padding-top: 16px;
}
.About hr{
  color: #FFFFFF;
  width: 1200px;
  margin: 80px auto;
}
.About-item-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-bottom: 100px;
  justify-items: center;
}
.About-item{
  text-align: center;
}
.About-item-title{
  font-size: 3rem;
  color: #00FF88;
}
.About-item-description{
  font-size: 1rem;
  line-height: 20px;
  color: #ffffff;
  padding-top: 16px;
}

/* about related style */
.Choose{
  width:1600px;
  max-width: 100%;
  background-color: #230E3D;
  padding: 100px 150px;
}
.Choose-title{
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 40px;
  text-align: center;
}
.Choose-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 20px;
}
.Choose-grid>*{
  border-radius: 40px;
  padding: 40px;
  background-color: #351165;
}
.c1{
  grid-column: 2/4;
}
.c2{
  grid-row: 1/3;
}
.c3{
  grid-column: 2/4;
}
.c4{
  grid-column: 1/3;
}
.Choose-grid-title{
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: 16px 0;
}
.Choose-grid-description{
  font-size: 1rem;
  color: #d8d5d5;
  padding-top: 10px;
}
.c2{
  padding: 150px 40px;
}
/* about related style */
.Featured{
  width:1600px;
  max-width: 100%;
  background-color: #1A0B2E;
  padding: 100px 150px;
}
.Featured-title{
   font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 40px;
  text-align: center;
}
.Featured-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  justify-content: center;
  border-radius: 50px;
}
.videos{
  width: 400px;
  height: 200px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}
.card-details{
  width: 400px;
  height: 250px;
  padding: 15px;
  background-color: #351165;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card-title{
  font-size: 1.5rem;
  color: #ffffff;
}
.card-description{
  font-size: 1rem;
  line-height: 24px;
  color: #f0eeee;
  padding: 12px 0;
}
.card-duration h4{
 display: flex;
  gap: 10px;
}
/* about related style */
.host-title{
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: 100px 0 40px;
  text-align: center;
}
.host-container{
  width: 1200px;
  padding: 15px;
  background-color: #351165;
  border-radius: 40px;
  display: flex;
  padding: 40px;
  gap: 24px;
  align-items: center;
}
.host-name{
  font-size: 2rem;
  font-weight: 700;
  color: #FFFFFF;
}
.host-description{
  font-size: 1rem;
  line-height: 24px;
  color: #f0eeee;
  padding: 16px 0;
}
.host-image img{
  width: 40px;
  height: 40px;
  padding: 10px;
  border:1px solid #090909;
  border-radius: 100px;
}

